* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ========================================Header-section============================================= */
.header {
    width: 100%;
    height: 80px;
    background-color: #2e2e2e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 8px black;
    color: #fff;
}

a {
    text-decoration: none;

    color: yellow;


}

.header a:hover {
    color: orangered;
    border-bottom: 1px solid orangerd;
}

/* ===================================================navbar========================================== */
.nav-Items>ul {
    display: flex;
    list-style-type: none;
}

.nav-Items>ul>li {
    padding: 10px;
    margin: 10px;
}


/* ===================================================body-section=========================== */
.body-container {
    background-color: rgb(169, 245, 245);
    padding: 30px;


}

.search {
    text-align: center;

}

.searchInput {
    padding: 10px 20px;
    margin-right: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px black;
    width: 50%;
}


/* =============================================RestCard-section==================================================== */
.card-body {
    margin: 13px 0;
}

.card-footer {
    width: 100%;
    margin-top: 10px;
    background: #000;
}

.button,
button {
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px black;
    cursor: pointer;
    margin-right: 20px;
    color: #fff;
}

.rest-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.card-header {
    width: 90%;
    height: 60%;
    margin: 10px auto;
}

.meal-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card {
    border: 1px solid #222;
    height: 320px;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/* ===============================================Footer-section======================================================= */
.footer {
    height: 100px;
    background-color: #2e2e2e;
}

.footer>ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    border-bottom: 1px solid #000;
}

.footer ul li {
    color: #ddd;
    padding: 10px;
    margin: 10px;
}

.copyright {
    margin: 10px 0;
    text-align: center;
    color: #fff;
    letter-spacing: 1.5;
    font-weight: 200;
}

/* ===========================================ShimmerUI================================================ */
.shimmer-container {
    border: 1px solid gray;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.shimmer-card {
    background-color: #f0f0f0;
    border: 1px solid #222;
    height: 320px;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 10px;
}

/* =========================Menu-card-section=============================================  */
.meal-card {
    width: 90%;
    height: 100%;
    padding: 15px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meal-details {
    width: 60%;
    padding: 10px;
    text-align: justify;
    font-family: "Arial";
}

.meal-details h2 {
    padding: 5px;
    background: crimson;
    font-size: 32px;
    color: white;
}

.meal-details p {
    margin: 10px 0;
    color: #555;
}

.meal-details p:last-child {
    word-spacing: 2;
}

.meal-details p span {
    font-weight: bold;
}

.meal-thumb {
    width: 30%;
}

.meal-thumb img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

/* =======================================User-Card=========================================== */

.about {
    width: 100%;



}

.aboutTitle {
    margin-top: 50px;
    text-align: center;
    color: crimson;

}

.userCard {
    width: 300px;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid black;
    border-radius: 5px;
}

.userCardContainer {
    height: 350px;
    padding: 10px;



}